.hotel {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10.5px 0 19px 0;
  }

  &__text {
    display: flex;
    flex-wrap: wrap;
  }

  &__stars {
    width: 100%;
    margin: 5.5px 0px 1.5px 2px;    
  }

  &__name {
    margin: 0 0 4px 0;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__offer {
    display: flex;
    justify-content: center;
    width: 70px;
    height: 20px;
    margin-top: 5.1px;
    margin-left: 17px;
    padding: 4px 0;
    background-color: $preamery-color;
    border-radius: 3px;
    font-size: 10px;
    font-weight: 600;
    color: #ffffff;
  }

  &__discription {
    width: 100%;
    margin-top: -4px;
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
  }
}

.stars-img {
  margin-right: -2px;
}

.raiting {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 65px;
  min-height: 45px;
  flex-shrink: 0;
  padding: 10px 5px 6px 5px;
  margin-top: 10px;
  background-color: $preamery-color;
  border-radius: 4px;

  &__user {
    margin-bottom: 2px;
    font-size: 8px;
    font-weight: 600;
    color: #ffffff;
  }

  &__counter {
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
  }

  &__max {
    font-size: 10px;
    font-weight: 700;
  }
}

.swiper {
  position: relative;
  width: 729px;
  max-height: 450px;
  margin: 0;
  margin-left: 2px;
  border-radius: 8px;
  
  &::after{
    content: '';
    background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%);
    min-width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }  
}

.grid{
  &__wrapper{
    display: flex;       
  }

  &__img{
    width: 100%;
    height: 100%;
  }

  &__button_swiper{
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    background-position: center;
  }

  &__buton-left{
    background-image: url("../img/chevron-left.svg");
    margin-left: 8px;
    margin-top: -14px;
    
  }

  &__buton-right{    
    background-image: url("../img/chevron-right.svg");
    margin-right: 8px;
    margin-top: -12px;
  }
}

.swiper-button-next:after, .swiper-button-prev:after {
  content: '';
}
  
.booking__wrapper{
  margin-left: 28px;
  margin-top: -2px;
}

.booking{
  width: 349px;
  min-height: 210px;
  border-radius: 8px;
  margin: 2px 0 27px 2px;        
  padding: 26px 29px 25px 26px;
  background-color: $background-nav;
  color: $text-white;
  font-family:"Nunito";

  &__top{
    display: flex;
    justify-content: space-between;
  }

  &__price{
    display: flex;
    flex-wrap: wrap;
    width: 90px;
    margin-top: 2px;
  }

  &__price-start{            
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
  } 

  &__cost{
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
  }

  &__room-nigth{            
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }

  &__text{
    margin-top: 8px;
  }

  &__guests{
    display: flex;
    align-items: center;
  }
          
  &__guests-text{
    margin-left: 9px;              
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }

  &__room{
    display: flex;
    align-items: center;
    margin-top: 8px;
  } 
        
  &__room-text{
    margin-left: 14px;            
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }

  &__center{
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
    margin-bottom: 16px;
  }

  &__quick{
    font-family: "Nunito";          
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
  }

  &__phone-number{          
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: $text-white;
  }
      
  &__button{
    width: 100%;
    height: 46px;
    border-radius: 4px;        
    border: none;
    background-color: $preamery-color;
    color: $text-white;        
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
  }    
}
  
.map{
  width: 347px;
  height: 213px;
  border-radius: 10px;
  overflow: hidden;
}