@media (max-width: 1200px) {
  .container {
    padding: 0 50px;
  }

  .header__search {
    margin-left: 50px;
  }

  .grid__wrapper{
    flex-wrap: wrap;
    justify-content: center;    
  }

  .booking__wrapper{
    display: flex;
    justify-content: space-between;
    width: 728px; 
    margin: 0;
    margin-top: 25px;      
  }
}

@media (max-width: 992px) {
  .container {
    padding: 0 30px;
  }

  .nav__link {
    font-size: 12px;
  }

  .header__search {
    margin-left: 30px;
  }

  .logo__img {
    width: 150px;
    height: 20px;
  }  
}

@media (max-width: 768px) {
  .container {
    max-width: 700px;
    padding: 0;
  }

  .header{
    &-top{
      padding: 30px 0;
    }

    &____search {
      width: 340px;
      margin-left: 47.25px;
      margin-right: 73px;
    }
  }

  .logo__img {
    width: 132.75px;
    height: 18px;
    margin-top: 0;
  }

  .nav__list {
    padding: 18px 13.5px 23.5px 13.5px;
  }

  .user-link__author {
    margin-left: 17.5px;
  }

  .breadcrumb {
    &__list {
      padding: 0px 0 5px 0px;
    }
  }

  .hotel {
    &__wrapper {
      padding-top: 6px;
    }  

    &__offer{
      margin-left: 13px;
    }
  }

  .booking__wrapper{
    margin-top: 30px;
  }

  .booking{
    width: 340px;
    margin: 0;
    padding: 26px 22px 22px 23px;

    &__room-nigth{
      margin-top: -3px;
    }

    &__guests{
      margin-left: 7px;
    }

    &__room{
      margin-left: 8px;
      margin-top: 6px;
    }  

    &__room-text{
      margin-left: 12px;
    }  

    &__center{
      margin-top: 10px;
    }

    &__phone-number{
      margin-left: 5px;
    }    

    &__button{
      margin: 0;
      height: 45px;
    }    
  }  

  .map{
    width: 340px;
    height: 210px;
  }

  .newsletter{
    margin-top: 60px;
    padding-top: 92px;
    padding-bottom: 92px;

    &__wrapper{
      width: 706px;      
    }

    &__send{          
      margin-bottom: 1px; 
      width: 353px;     
    }

    &__button{
      min-width: 65px;
    }
  }

  .reviews{
    &__thinks{
      font-size: 30px;
      line-height: 38px;
    }

    &__swiper__slide{
      padding: 95px 0;      
    }

    &__slide-container{
      min-width: 579px;

      &::before, &::after{
        display: none;
      }

      &::after{
        display: none;
      }
    }

    &__stars{
      margin-top: -3px;
      margin-bottom: 3px;
      margin-left: 2px;
    }

    &__stars-img{
      margin-right: -2.0px;
    }

    &__text{
      max-width: 455px;
      margin-left: 65px;
      font-weight: 300;
      word-spacing: 0px;
      text-align: justify;
    }

    &__buton-right{
      margin-right: -10px;
      margin-top: -67px;
    }
  
    &__buton-left{
      margin-left: -9px;
      margin-top: -67px;
    }

  }
}

@media (max-width: 767px) {
  .nav {
    display: none;
  }

  .header__search {
    display: none;
  }

  .user {
    display: none;
  }

  .logo__img {
    width: 99px;
    height: 13.42px;
    margin-bottom: 1px;
  }

  .header-top {
    padding: 25px 20px 28px 20px;
  }

  .menu-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 16px;
    height: 11px;
    padding: 0;
    border: none;
    background-color: #ffffff;    

    &__line {
      width: 100%;
      height: 1px;
      background-color: $text-color;
    }
  }

  .breadcrumb {
    &__nav {
      padding-bottom: 12px;
      margin-left: 20px;
    }
  }

  .hotel {
    &__wrapper {
      padding-top: 5px;
    }

    &__stars {
      flex-basis: content;
      margin: 0;
      margin-right: 38px;
    }

    &__name {
      width: 100%;
      margin-left: 20px;
    }

    &__offer {
      order: -1;
      margin: 0;
      margin-right: auto;
      margin-left: 21px;
      margin-bottom: 10px;
    }

    &__discription {
      margin-left: 20px;
      margin-right: 17px;
    }
  }

  .raiting {
    display: none;
  }

  .grid{
    &__wrapper{
      margin-right: 21.5px;
      margin-left: 17px;    
      display: flex;           
    }

    &__swiper {
      height: 179px;
      margin-top: 19px;
      margin-left: 3px;    
    }
  
    &__img{
      width: 100%;
      height: 100%;
    }
  
    &__button_swiper{
      width: 8px;
      height: 8px;      
    }
  
    &__buton-left{
      background-image: url("../img/chevron-left-phone.svg");
      margin-left: -5px;
      margin-top: -4px;      
    }
  
    &__buton-right{    
      background-image: url("../img/chevron-right-phone.svg");
      margin-right: -4px;
      margin-top: -4px;
    }
  }

  .booking__wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 728px; 
    margin: 0;     
  }  

  .booking{
    width: 279px;
    height: 210px;
    margin-top: 20px;
    margin-left: 6px;
    margin-bottom: 0;
    padding-right: 21px;
    padding-bottom: 26px;
    padding-left: 22px;

    &__room-nigth{
      margin-top: -4px;
    } 
    
    &__text{
      margin-left: 11px;
      margin-top: 6px;
    }

    &__guests{
      display: flex;
      align-items:center;
      justify-content: space-between;
    }

    &__guests-img{
    margin-left: 0px;
    margin-top: 2px;
    }

    &__guests-text{
    margin-left: 0px;
    margin-top: 0px;
    }  

    &__room{
      display: flex;
      align-items:center;
      justify-content: space-between;
      margin-top: 9px;
    }

    &__room-img{
      margin-left: 0px;
    margin-top: -1px;
    } 

    &__room-text{
      margin-left: 13.5px;
    }
    
    &__center{
      margin-top: 7px;
    }    

    &__quick{
      margin-top: 2px;
    }       
        
    &__phone-img{
      margin-top: 7px;
      margin-left: 3px;
    }

    &__phone-number{
      margin-top: 6px;
      margin-left: 5px;
      margin-right: 3px;
    } 
        
    &__button{
      width: 235px;
      margin-top: 1px;
    } 
  }

  .map{
    width: 279px;
    height: 173px;
    margin-top: 20px;
    margin-left: 4px;
  }  

  .newsletter{
    margin-top: 40px;
    padding-top: 50px;
    padding-bottom: 82px;
    
    &__wrapper{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 284px;    
      margin-top: 20px;           
    }

    &__subscrib-text{
      margin: 0;          
      font-size: 20px;
      line-height: 25px;
    }

    &__title{
      margin-top: 5px;     
      font-size: 30px;
      line-height: 38px;
    }

    &__send{
      width: 283px;
      margin-left: 2px;
    }

    &__input{
      padding: 0 20px;
    }
  }

  .subscrib{
    margin-top: 6px;
    margin-bottom: 37px;    
  }

  .reviews{
    &__thinks{
      font-size: 18px;
      line-height: 23px;
      padding: 0 38px;
    }

    &__swiper__slide{
      padding: 87px 0;      
    }

    &__slide-container{
      min-width: 281px;
      min-height: 438px;
    }

    &__text{
      width: 219px; 
      margin: 0 auto;
      text-align: start;
    }

    &__buton-right{
      margin-right: 48px;
      margin-top: -310px;
    }
  
    &__buton-left{
      margin-left: 45px;
      margin-top: -310px;
    }
  }
}   

