*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Mulish";
  background-color: #f5fafe;
}

.container {
  max-width: $container;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.lock{
  overflow: hidden;
}

